@import './src/styles/mixin';

.settingsContainer {
  @include flex(column, center, center, wrap);
  width: 100%;
  margin-bottom: 30px;

  .settingsBlock {
    @include flex(row, space-between, center, nowrap);
    width: 70%;
    height: 60px;

    .radioBlock {
      @include flex(row, space-between, center, nowrap);
      width: 260px;

    }

    .sliderBlock {
      @include flex(row, center, center, wrap);
      width: 220px;

    }

    .inputBlock {
      @include flex(row, center, center, wrap);
      width: 160px;

    }

    .seedBlock {
      @include flex(row, space-evenly, center, nowrap);
      width: 230px;

    }
  }
}